h3, h1, h2{
    color:#6897e2;
}

hr {
    color:#6897e2;
    border-style:dotted;
}

body {
    font-family: Impact, Charcoal, sans-serif;
}   

p {
    font-size:14px;
}

h2 {
    line-height:5px;
}
