/* css stylesheet for interview.html */

/* white background */
body
{
    background:#ffff
}

/* dimmensions for comment class */
.comments .comment
{
    width:200px;
    height:100px;
    margin-bottom:20px;
}

/* dimmensions for comment class paragrahs */
.comments .comment p
{
    margin:0 0 10px 0;
}

/* define left side comment bubble dimmensions and color */
.bubble
{
    position:relative;
    width:380px;
    background:#0078fe;
    padding:20px;
    color:#222;;
    border-radius:3px;
    margin-left:20px;
    color:white;
    text-align:center;
    margin-bottom:20px;
    /* hidden by default, revealed during interview */
    visibility:hidden;
}

/* define left side comment bubble tail dimmensions and color */
.bubble::after
{
    content:"";
    display:block;
    position:absolute;

    left: -15px;
    top:15px;

    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:15px solid #0078fe;
}

/* define right side comment bubble dimmensions and color */
.bubbleRight
{
    position:relative;
    width:380px;
    background:#5bc236;
    padding:20px;
    color:#222;;
    border-radius:3px;
    margin-left:12px;
    color:white;
    text-align:center;
    /* hidden by default, revealed during interview */
    visibility:hidden;
}

/* define right side comment bubble tail dimmensions and color */
.bubbleRight::After
{
    content:"";
    display:block;
    position:absolute;

    right: -15px;
    top:15px;

    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:15px solid #5bc236;
    transform:scaleX(-1);
}

/* dimmensions for textbox class */
.textbox
{
    width: 600px;
    margin: 0;
}

/* define center class */
.center {
  margin: auto;
}

/* redefine size and style of headings 1-3 */
h3 {
    font-size:30px;
}

h1 {
    font-weight:bold;
    font-size:70px;
}
h2 {
    font-size:40px;
}

/* define borders */
.form-element {
    border-style:solid;
}

.class {
    margin:auto;
}
