body
{
    background:#ffff
}


.comments .comment
{
    width:200px;
    height:100px;
    margin-bottom:20px;
}

.comments .comment p
{
    margin:0 0 10px 0;
}

.bubble
{
    position:relative;
    width:380px;
    background:#0078fe;
    padding:20px;
    color:#222;;
    border-radius:3px;
    margin-left:20px;
    color:white;
    text-align:center;
    margin-bottom:20px;

    visibility:hidden;
}

.bubble::after
{
    content:"";
    display:block;
    position:absolute;

    left: -15px;
    top:15px;

    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:15px solid #0078fe;
}

.bubbleRight
{
    position:relative;

    width:380px;
    background:#5bc236;
    padding:20px;
    color:#222;;
    border-radius:3px;
    margin-left:12px;
    color:white;
    text-align:center;

    visibility:hidden;
}

.bubbleRight::After
{
    content:"";
    display:block;
    position:absolute;

    right: -15px;
    top:15px;

    width:0;
    height:0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:15px solid #5bc236;
    transform:scaleX(-1);
}

.textbox
{
    width: 600px;
    margin: 0;
}


.center {
  margin: auto;
}


h3 {
    font-size:30px;
}

h1 {
    font-weight:bold; 
    font-size:70px;
}
h2 {
    font-size:40px;
}

.form-element {
    width:100%; 
    text-align:center; 
}

.class {
    margin:auto;
}
